*{margin: 0; border: 0; padding: 0;}
body{position: relative;}
header{ height: 50px; width: 100%; background:rgb(200,100,45); position: fixed; top: 0; z-index: 1000;}
footer{ height: 100px; width: 100%; background:#B2ACAC; float: left;}
.mainbox{width: 1000px; margin: 0 auto; margin-top: 60px; min-height: 520px;}
hr{border:none;background-color:#ccc;height:1px;display: block;  margin: 5px 0;}
a{
	text-decoration:none;
	cursor: pointer;
}